body {
    background-image: radial-gradient(circle, #cfcfcf, #dbdbdb, #e4e4e3, #f3f3f3, #ebebeb);
    font-family: 'Open Sans', sans-serif;
    
}
a{
    text-decoration: none;
    color: #023047;
}
h1,h5{
    color: #023047;
}

.box {
    width: 100%;
    padding-bottom: 10%;
    /* Aspect ratio 1:1 (height will be the same as width) */
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: box-shadow 0.3s;
}

.box:hover {
    box-shadow: 0 0 2px 1px rgba(8, 99, 255, 0.9);
}

.row {
    justify-content: center !important;
}

.box img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    text-align: center;
}

.box_in {
    width: 100%;
    border: 0px solid red;
}

.image_text {
    font-size: 20px;
    text-align: center;
}
.jpgpng_text{
    font-size: 25px;;
}
.button_all{
    width: 40%;
    background-color: #f9cc03;
    font-size: 30px;
    padding: 10px 0px 10px 0px;
}
.button_all:hover{
    background-color: #fed726;
}
.box_img{
    width: 100%;
    border: 0px solid red;
    position: relative;
}
.box_img1 img{
    width: 100%;
    margin: auto;
    position: relative;
    right: 38px;
}
.box_img2 img{
    width: 100%;
    margin: auto;
    position: relative;
    top: -10px;
    left: 10px;

}
.box_img3 img{
    width: 100%;
    margin: auto;
    position: absolute;
    top: -5px;
    left: 10px;

}
.box_img4 img{
    width: 100%;
    margin: auto;
    position: absolute;
    top: 45px;
    left: -33px;

}
.middle_section{
    margin-top: 5rem;
    margin-bottom: 2rem;
}
/* ------footer css is here  ----- */
footer{
    background-color: #023047;
    color: white;
}








@media (max-width: 576px) {
    .row [class^="col-"] {
        margin-bottom: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .row [class^="col-"] {
        margin-bottom: 15px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .row [class^="col-"] {
        margin-bottom: 15px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .row [class^="col-"] {
        margin-bottom: 15px;
    }
}

@media (min-width: 1200px) {
    .row [class^="col-"] {
        margin-bottom: 15px;
    }
}